.body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #8FDB7E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-links a {
  position: relative;
  color: white;
  text-decoration: none;
}

.user-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #5cd860;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  text-decoration: none;
}

a:hover {
  color: #5cd860;
}

.card-cadastro {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #45A44A; 
  border-radius: 20px;
}

.card-cadastro h1 {
  color: white; /* Título verde mais escuro */
  font-weight: 800;
  margin: 0;
}

.form-field {
  background-color: #94ca88; /* Fundo verde claro */
  color: black; /* Texto verde mais escuro */
}

.form-group label {
  color: white; /* Rótulo verde mais escuro */
}

.form-error {
  color: white; /* Texto de erro verde mais escuro */
}

.form-field ::placeholder {
  color: white; /* Espaço reservado verde mais escuro */
}

.button {
  background: #64C967; /* Fundo do botão verde mais escuro */
  color: white;
}

.user-links {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

@media (max-width: 950px) {
  .card-cadastro {
      width: 50%;
  }
}

@media (max-width: 600px) {
  .body {
      flex-direction: column;
  }

  .card-cadastro {
      width: 50%;
  }
}
