.body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #8FDB7E;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-links a {
  position: relative;
  color: white;
  text-decoration: none;
}

.user-links a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #5cd860;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a:hover::before {
  visibility: visible;
  transform: scaleX(1);
  text-decoration: none;
}

a:hover {
  color: #5cd860;
}

.card-cadastro {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #45A44A; 
  border-radius: 20px;
}

.card-cadastro h1 {
  color: white; 
  font-weight: 800;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.password-container {
  position: relative;
  width: 100%;
}

.password-btn {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 1.2em;
  color: black;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.form-field {
  background-color: #94ca88;
  color: black;
  font-size: 12pt;
  padding: 10px;
  box-sizing: border-box;
  width: 100%; 
}



.form-group label {
  color: white;
  margin-bottom: 10px;
}

.form-error-usuario,
.form-error,
.form-error-confirmacao {
  color: white;
  font-size: 0.8em;
  display: block;
}

.form-field ::placeholder {
  color: white; 
}

.button {
  background: #64C967;
  color: white;
  width: 100%; 
}

.user-links {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

@media (max-width: 950px) {
  .card-cadastro {
      width: 70%;
  }
}

@media (max-width: 600px) {
  .body {
      flex-direction: column;
  }

  .card-cadastro {
      width: 80%; 
  }
}
