.card-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 35px;
  background-color: #45A44A;
  border-radius: 20px;
}

.card-login h1 {
  color: white;
  font-weight: 800;
  margin: 0;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.password-container {
  position: relative; 
  width: 100%; 
}

.password-toggle-btn {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  font-size: 0.8em;
  color: black;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

.form-field {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-size: 12pt;
}
a
.form-group label {
  color: #429a2cde;
  margin-bottom: 10px;
}

.form-error-email {
  display: block;
  color: white;
  font-size: 0.8em;
}

.form-error-senha {
  display: block;
  color: white;
  font-size: 0.8em;
}

.form-field ::placeholder {
  color: rgba(51, 255, 0, 0.58);
}

.button {
  width: 100%;
  padding: 16px 0px;
  border: none;
  border-radius: 6px;
  outline: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  cursor: pointer;
  margin-top: 15px;
  background: #2a6919;
  color: #49e150;
}

@media (max-width: 950px){
  .card-login{
    width: 50%;
  }
}

@media (max-width: 600px){
  .body{
    flex-direction: column;
    background-color: #4A804A;
  }

  .card-login {
    width: 50%;
  }
}

